html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  background-image: url(../images/fondo.png);
  background-repeat: repeat-x;
  background-position-y: bottom;

}

.form-signin {
  max-width: 330px;

}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.opciones {
  width: 70%;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -15%);
  z-index: 10;

}

.contenido {
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  width: 200px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.item {
  width: 100px;
  height: 100px;
  position: absolute;
}

.item-1 {
  background-color: #FA5667;
  top: 0;
  left: 0;
  z-index: 1;
  animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-2 {
  background-color: #7A45E5;
  top: 0;
  right: 0;
  animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-3 {
  background-color: #1B91F7;
  bottom: 0;
  right: 0;
  z-index: 1;
  animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.item-4 {
  background-color: #FAC24C;
  bottom: 0;
  left: 0;
  animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@keyframes item-1_move {

  0%,
  100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(0, 100px)
  }

  50% {
    transform: translate(100px, 100px)
  }

  75% {
    transform: translate(100px, 0)
  }
}

@keyframes item-2_move {

  0%,
  100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(-100px, 0)
  }

  50% {
    transform: translate(-100px, 100px)
  }

  75% {
    transform: translate(0, 100px)
  }
}

@keyframes item-3_move {

  0%,
  100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(0, -100px)
  }

  50% {
    transform: translate(-100px, -100px)
  }

  75% {
    transform: translate(-100px, 0)
  }
}

@keyframes item-4_move {

  0%,
  100% {
    transform: translate(0, 0)
  }

  25% {
    transform: translate(100px, 0)
  }

  50% {
    transform: translate(100px, -100px)
  }

  75% {
    transform: translate(0, -100px)
  }
}

#danger {
  font-size: smaller;
}

.movimientos {
  margin-top: 10em;
}

.btn_login {
  width: 45%;
  text-transform: capitalize;
  padding: 20px;
}

.logo {
  width: 20em;

}

.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  border: none;
  background-color: #e91e1e;
  padding: 18px 30px;
  position: fixed;
  top: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.btn-flotante:hover {
  background-color: #ca5757;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  color: #f5f5f5;
  transform: translateY(-7px);
}

.btn-naranja {
  background-color: #ff7f41;
  --bs-btn-active-bg: #eb601b;
  --bs-btn-active-color: #fff;
  color: #ffffff;

}

.btn-naranja:hover {
  background-color: #eb601b;
  color: #ffffff;
}

.btn-celeste {
  background: #7a45e5;
  --bs-btn-active-bg: #5e2dc0;
  --bs-btn-active-color: #fff;
  color: #ffffff;
}

.btn-celeste:hover {
  background-color: #5e2dc0;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.icono-retirar {
  background-image: url("../images/2676727.png");
  background-repeat: no-repeat;
  background-size: 5em;
}

.icono-saldo {
  background-image: url("../images/5762130.png");
  background-repeat: no-repeat;
  background-size: 5em;
}

.icono-transferir {
  background-image: url("../images/3757813.png");
  background-repeat: no-repeat;
  background-size: 5em;
}

.icono-consignar {
  background-image: url("../images/5762280.png");
  background-repeat: no-repeat;
  background-size: 5em;
}

.logo_saldo {
  width: 10em;
}

.color_saldo {
  --bs-alert-color: #1a402e;
  --bs-alert-bg: #198754;
  --bs-alert-border-color: #25a167;
}
.contenido_tranferencia {
  max-width: 900px;
}
